fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
python-dotenv
pydantic
pydantic-settings
apscheduler
Pillow
aiofiles
psycopg[binary]
"bcrypt<4.0.0"
